@import url('reset.css');

@font-face {
  font-family: 'Old English Five';
  src: url('OldEnglishFive.ttf') format('truetype');
}

/* The Meat */
body {
	margin: 0;
	padding: 0;
	background: #000000;
	color: #CCCCCC;
}
h1 {
	font-family: 'Old English Five';
	text-align: center;
	color: rgb(255,255,255,.6);
	font-size: 13vw;
	width: 100%;
	padding: 1vw;
	z-index: 1;
	position: relative;
}
h1 a { 
	color: rgba(255,255,255,.5); 
	text-decoration: none; 
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s;
 }
h1 a:hover { 
	color: rgba(255,255,255,1); 
}
.hang-in-there {
	background: rgb(183,45,253);
	background: linear-gradient(121deg, rgba(183,45,253,1) 5%, rgba(248,58,207,1) 15%, rgba(34,193,195,1) 91%);
}
.hang-in-there .wrapper {
	background: url('digitalaltar-background.png') top;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
}
@media only screen and (min-width: 1200px) {
	.hang-in-there .wrapper {
		min-height: 2000px;
	}
}

/* Footer */
footer {
	font-family: sans-serif;
	font-size: small;
	text-align: right;
	color: #FFFFFF;
	padding: 10px;
}

/* Content */
.content {
	max-width: 80%;
	margin: 0px auto 0 auto;
	padding: 30px;
	text-align: right;
	font-weight: 300;
	letter-spacing: .5px;
}
ul#art {
	margin-top: 300px;
}
ul#art li {
display: inline-block;
max-width: calc(50% - 30px);
padding: 20px;
margin: 10px;
background: rgba(0,0,0,.5);
}
ul#art li img {
	max-width: 100%;
}
ul#social {
	list-style-position: inside;
	margin: 20px;
}
ul#social li {
	list-style-type: none;
	padding: 10px 20px;
	font-size: 2vw;
	line-height: 2.5vw;
	background: rgba(0,0,0,.5);
	display: inline-block;
	clear: both;
	margin: 5px;
	float: right;
	width: 50%;
	text-align: left;
}
ul#social li a {
	color: cyan !important;
	text-decoration: none;
}
ul#social li a:hover {
	color: orchid !important;
}
ul#social li.tips {
	font-size: 1.2vw;
	font-weight: bold;
	background: transparent;
	text-align: right;
}
ul#social li.tips-title {
	font-size: 1.2vw !important;
	line-height: 1.5vw;
	text-align: right;
	background: transparent;
	margin: 40px 0 0 0;
	padding: 0;
}
ul#social li.tips-title p {
	text-align: left;
	display: block;
	width: calc(50% + 30px);
	float: right;
}
.tips-title small {
	display: block;
	font-size: .8vw;
}
.tip {
	font-weight: normal;
	max-width: 25%;
	margin-left: 15px;
	float: right;
	text-align: center;
}
.tip img {
	max-width: 100%;
	margin: 0 auto 5px 0;
	display: block;
	text-align: right;
}
#eth-tip, #btc-tip {
	display: none;
}