<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap" rel="stylesheet">

  {% if page.url == '/' %}{% assign home = true %}{% endif %}
  {% if page.url contains "/collection" %}{% assign collection = true %}{% endif %}

  {% if home %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% endif %}

  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <script src="../assets/js/glitch.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="welcome">
  <div class="wrapper">
    <header>{% include header.html %}</header>
    <main {% if home %}class="home"{% endif %}>
      {% if page.content != '' %}
        <section class="content">
          {{ content }}
        </section>
      {% endif %}
      {% if collection %}
        <section id="collection">
        </section>
      {% endif %}
    </main>
    <footer>{% include footer.html %}</footer>
  </div>


  {% if collection %}
    {% assign tezoslist = site.data.tezos | sort: 'sequence' %}
    {% assign ethlist = site.data.ethereum | sort: 'sequence' %}
    <script>
      const tezos = [
      {% for token in tezoslist %}
          { address: '{{ token.contract_address }}', tokenId: {{ token.token_id }}}{% unless forloop.last %},{% endunless %}
      {% endfor %}
      ];

      const eth = [
      {% for token in ethlist %}
          { address: '{{ token.contract_address }}', tokenId: {{ token.token_id }}}{% unless forloop.last %},{% endunless %}
      {% endfor %}
      ];
    </script>
    <script src="{{ '/assets/js/tokens.js' | relative_url }}"></script>
  {% endif %}
</body>
</html>